<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About CNify
                <small>  a US-based China-focused content marketing agency</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="img/about/Streets_CNify.jpg">
        </div>
        <div class="col-md-6">
            <h2>About CNify</h2>	
		<div ng-controller="AccordionCtrl">
			<accordion close-others="oneAtATime">
				<accordion-group heading="Who is CNify?" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
				<p class="lead faq">CNify is a China-focused content marketing agency.<br> We help brands acquire fans, followers and customers in China.</p>
				<p>CNify consists of partnering contractors and agencies on both sides of the Pacific working together to enable overseas brands achieve their market potential in China. We create awesome content, broadcast it on native Chinese platforms and channels and engage with your brand's fans, followers and customers to help your brand acheive market sucess in China.</p>
				
				</accordion-group>
				<accordion-group heading="What can CNify do for me?">
				<p class="lead faq">CNify enables you to acquire fans, followers and customers in China.</p>
				<p>We do this through thoughtful content, market targeting, impactful promotions and active customer engagement, CNify gives your brand the the tools and services it needs on the ground in China to market effectively so you can focus on fulfilling sales.</p>
				</accordion-group>
				<accordion-group heading="Can CNify help my brand?">
				<p class="lead faq">Never before has it been this easy to establish and build a brand in China.</p>
				<p>For brands that are committed to building relationships with customers from China, CNify can absolutely help your brand market in China. This requires thoughtful attention and strategy on all facets of your brand's operations. CNify ensures that your brand's marketing and engagement in China is effective and delivering on marketing objectives.</p>
				</accordion-group>
				<accordion-group heading="We're not setup to sell in China. Can CNify help me with that?">
				<p class="lead faq">CNify can help your brand with marketing.</p>
				<p>We help brands leverage the power of content to reach out to their targeted audiences to acquire and retain customers. Sales and fulfillment in China require the right infrastructure and skills in place based on the industry and market you wish to address. CNify can help you find the appropriate resources to build your brand's sales and fulfillment infrastructure while at the same time helping you uncover your target market.</p>
				</accordion-group>
				<accordion-group heading="Why CNify?">
				<p class="lead faq">CNify localizes your brand for success.</p>
				<p>We're a group of seasoned marketing professionals with diverse backgrounds and deep relationships with our focus-market; China. Our passion is helping overseas brands uncover success in China. We know we can do that for brands that are committed to pursuing market opportunities in China. And we can do it effectively within the scope of all types of budgets and requirements.</p>
				<p>We look forward to being at your service.</p>
				</accordion-group>					
			</accordion>
		 </div>
        </div>	 
    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/about/jesslaventall.jpg">

            <h3>Jess Laventall<br>
                <small>Founder</small>
            </h3>
            <p></p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/about/marthawang.jpg">

            <h3>Martha Wang<br>
                <small>Principal</small>
            </h3>
            <p></p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/about/wangxiaofeng.jpg">

            <h3>Wang Xiaofeng<br>
                <small>Translator/Mentor/Advisor</small>
            </h3>
            <p></p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/about/renchangyuan.jpg">

            <h3>Ren Changyuan<br>
                <small>China Development Manager</small>
            </h3>
            <p></p>
        </div>
		
    </div>

    <!-- Our Customers -->

   

</div>
<!-- /.container -->
