<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Awesome Chinese Content and Translation
                <small>Communicating messages that resonate with your audience</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Awesome Chinese content and translation</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">More than just words...</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">It's the message that matters.</p>
			<p class="text-muted">To us, well developed content means more than just accurate translation. Your brand needs to develop messages that resonate with your target audience. CNify has developed an cross-cultural, experienced team that understands your brand and its potential in China.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
	    <section id="portfolio" class="bg-light-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">Some Examples</h2>
						<h4 class="section-subheading text-muted">Here are some example translations that we can create for your brand:</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Travel_MtStHelens_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Travel Destination</h2>
							<p class="text-muted">Travel destination brochure</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Travel_Hotel_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Hospitality</h2>
							<p class="text-muted">Hotel description</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Food_Label_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Food Label</h2>
							<p class="text-muted">Chinese food label for export</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/SocialMedia_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Twitter</h2>
							<p class="text-muted">Ongoing translation of Twitter feed to Chinese social media</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Product_Catalog_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Product Catalog</h2>
							<p class="text-muted">Share product details</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Travel_Destination_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Travel Destination</h2>
							<p class="text-muted">Resort introduction brochure</p>
						</div>
					</div>
				</div>
			</div>
			<h4 class="section-subheading text-muted">*Samples are shown for illustrative purposes only and do not reflect the endorsement of any particular brand.</h4>

		</section>
	</div>
	
</div>
<!-- /.container -->
