<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">China Market Entry Made Easy
                <small>Kick start your brand in China with these service packages</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Open up China</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">Services to kickstart marketing in China.</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">Uncover your brand's path to success in China</p>
			<p class="text-muted">To successfully attract Chinese customers to your brand, you not only need to be found, but communicate all that matters about your brand.
			<br>These core packages are geared to brands that want to take marketing to China into their own hands. Using the CNify portal, your brand's content can be directly posted to platforms in China. Never before has addressing the Chinese marketplace been made so accessible to marketers based outside of China. With CNify, your brand's potential in China can finally be realized.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/cme_cover1.jpg" alt="Getting on the map of the Chinese visitor">
						<div class="caption mkt-1">
							<h3>Introductory Package</h3>
								<p>Direct one-to-one consultation on marketing objectives and implementation plan. We'll review your brand, offerings and potential target markets.</p>
								<p>Next, we'll create a one-page Chinese language backgrounder about your brand, products and offerings geared for your target market. We'll identify and contact potential partners on your behalf in China.</p>
						</div>
						<h2><span class="label label-info">Introductory packages starting at $199</span></h2>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail thmb-hghlt thmb-featured">
						<img src="img/cme_cover2.jpg" alt="Getting noticed by Chinese visitor">
						<div class="caption mkt-1">
							<h3>Establish Presence</h3>
								<p>Create a digital footprint in China by getting established on popular Chinese web and social media platforms. We'll tailor your brand's footprint into China to match your potential target market as well as your budget.</p>
								<p>We'll create your brand's own presence on popular social media platforms such as WeChat and Weibo. Other channels we'll consider include video, web communities, sales platforms and mobile apps.</p>
								
						</div>
						<h2><span class="label label-info">Establishment packages starting at $599</span></h2>
						<p class ="text-info">Most popular option</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/cme_cover3.jpg" alt="Getting on itineraries of the Chinese visitor">
						<div class="caption mkt-1">
							<h3>Market and Sell</h3>
								<p>CNify connects your brand to in-market sales channels. We enable brands to sell directly to Chinese consumers both in China and abroad. Through a series of marketing partnerships, we can find the most appropriate route for your brand to start selling to Chinese consumers today.</p>
								<p>Online and offline campaigns enable Chinese consumers to find your brand and purchase. We'll create a custom tailored plan and execute on it in China.</p>
						</div>
						<h2><span class="label label-info">Contact us to start selling in China</span></h2>
					</div>
				</div>
			</div>	
        </div>
    </section>
	</div>
</div>
<!-- /.container -->
