
<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Accessing China has never been easier</h1>
				<ol class="breadcrumb">
					<li><a href="#/">Home</a>
					</li>
					<li class="active">Working with CNify</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
					<h2 class="section-heading">CNify offers the tools and services you need to build your brand's digital presence</h2>
					<p class="lead">Through our easy to use online portal, you can start creating your own marketing in China.</p>
					<br>
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/register.png" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Register</h4>
								<p class="lead">Start your journey here</p>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Registration is easy. Once logged in you can start your own marketing campaign. Choose from supplied templates or create your own custom project.</p>
								<br>
								<p class="lead">Not sure where to start? <br>
								<p class="text-muted">We can even guide you every step of the way.</p>
								<br>
								<p class="text-muted">Sign-up to start getting some China marketing ideas for your field delivered to your in-box</p>
								<div ng-controller="ModalSignupCtrl">
									<button class="btn btn-lg" ng-click="open()">Sign-Up</button>
								</div>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/startproject.png" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Submit your Content</h4>
								<p class="lead">Easy upload, transmit to China</p>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Share with us your marketing materials and media such as written content, images and video. Upload is quick and easy with our media portal.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/post.png" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Translate and Post</h4>
								<p class="lead">We take it from here</p>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Native translation and localization. CNify translates, localizes and broadcasts your media in China via your brand's own online media channels.</p>
								<p class="text-muted">We handle the all the details of channel creation, media management and communications in China so you can focus on building your brand.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/engage.png" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Engage</h4>
								<p class="lead">Let us be your brand's contact channel</p>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Let CNify manage your brand's customer contact in China. When potential customers call, you can be sure they receive support in their native language from knowledgeable customer support professionals.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="last-row">
		</div>
	</div>
	<!-- /.container -->
</div>
    <!-- /.content-section-a -->

