<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Content Development
                <small>Connect with customers in China through awesome content</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Content Creation</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
		<div class="row">
			
			<div class="col-xs-12 col-md-2">
				<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_translation.jpg" alt="Great Chinese translation and Chinese localization"></h3>
				<span class="label label-primary">Starting at $99</span>
			</div>
			<div class="col-xs-12 col-md-10">
					<h3 class="product">Translation & Localization</h3>
					<p class="lead">Not just wrote translation, but content localized to meet the needs of your target audience.</p>
					<p class="text-muted">We believe localized translation is not just a nice to have, but a necessity. We therefore offer translation that is created to match the tastes and preferences of your target market. Our expert translators and writers can tailor your content and message to speak in a way that resonates.</p>		
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_brochure.jpg" alt="Chinese brochure creation"></h3>
						<span class="label label-primary">Starting at $99</span>
			</div>
			<div class="col-xs-12 col-md-10">					
					<h3 class="product">Brochure Creation</h3>
					<p class="lead">Make a great first impression.</p>
					<p class="text-muted">Often times there will be no one there to speak for your brand. A well created brochure can keep your target audience's attention and in-tune with your message. CNify can translate and localize current brochure content you may already have, or you may use our design resources to create content, design and even print your brochures cost-effectively in China.</p>		
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">			
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_catalog.jpg" alt="Get your catalog translated and localized for China"></h3>
						<span class="label label-primary">Starting at $499</span>
			</div>
			<div class="col-xs-12 col-md-10">	
					<h3 class="product">Catalog Creation/Translation</h3>
					<p class="lead">Present your products in the best light.</p>
					<p class="text-muted">For brands with extensive product listings, having your products detailed in Chinese and in a format your customers can use matters. CNify creates formatted catalogs that can be incorporated in applications both online and off, as well as set up for major commerce platforms such as Alibaba, TMall, JD and others.</p>		
			</div>
			
			<div class="col-xs-12">
				<hr>
			</div>
			
			<div class="col-xs-12 col-md-2">	
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_introduction.jpg" alt="Create introductory materials"></h3>
						<span class="label label-primary">Starting at $99</span>
			</div>
			<div class="col-xs-12 col-md-10">	
					<h3 class="product">Customized company introduction</h3>
					<p class="lead">Make a great first impression for your brand</p>
					<p class="text-muted">Before you step foot in China, it's best to bring with you a simple summary of your company explaining who you are and what you do. CNify can summarize this elegantly so that people you meet listen. We also provide naming, tagline creation and even name card design.</p>		
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>		

				
		</div>	
</div>
<!-- /.container -->
