<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row last-row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>


			<h3>CNify</h3>
            <h4>www.cnify.com</h4>

            <p>1000 E. Port Marina Drive, Suite 101<br>
			Hood River, Oregon USA 97031</p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (503) 268-3200</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:jess.laventall@cnify.com">jess.laventall@cnify.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM Pacific Time</p>

        </div>

        <div class="col-sm-4">
		<h3>Wanna Know More?</h3>
		<p class="lead">Let us send you our tips and tricks straight to your inbox</p>
		<p>We have more to share with you. Don't worry, we wont go overboard. Sign-up below and we'll send you tailored updates that you can use for your establishing your brand's Chinese presence.</p>
            <div ng-controller="ModalSignupCtrl">
				<button class="btn btn-lg btn-warning" ng-click="open()">Sign-Up</button>
			</div>
		<h4>By signing up there's no obligation to do anything, no sales-person will call, no offers will be made, no birthday reminders sent, you can unsubscribe at any time.<br>Just good pure info.</h4>
        </div>
		

    </div>
    <!-- /.row -->

</div><!-- /.container -->