<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Customer Engagement in China
                <small>Ensure your brand is ready to engage your customers from China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Customer Engagement</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_response.jpg" alt="Online response engagement in China"></h3>
				<span class="label label-primary">Starting at $99/Month</span>
			</div>
			<div class="col-xs-12 col-md-10">
				<h3 class="product">Online response management</h3>
				<p class="lead">Meeting your customers in the digital space.</p>
				<p class="text-muted">Customer relationships are a two-way street. CNify helps your brand become conversant with enquirers online whenever and wherever they emerge. Whether it's a dedicated online channel or general message board participation, CNify can be both the eyes, mouth and ears for your brand online in China.</p>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_service.jpg" alt="Online dedicated customer service in China"></h3>
						<span class="label label-primary">Call for your custom quote</span>
			</div>
			<div class="col-xs-12 col-md-10">					
				<h3 class="product">Customer Service Channel</h3>
				<p class="lead">We're there when your customers reach out to you.</p>
				<p class="text-muted">For brands with limited or no service staff skilled in oral or written Chinese, CNify offers a dedicated service channel. Whether your brand needs us part of the time all of the time, you can be sure that someone knowledgeable and who speaks the language is ready to serve your Chinese customers.</p>
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">			
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_signage.jpg" alt="Custom Chinese language signage for Chinese customers"></h3>
						<span class="label label-primary">Starting at $99</span>
			</div>
			<div class="col-xs-12 col-md-10">	
				<h3 class="product">Custom signage/communications</h3>
				<p class="lead">For the times when those "little" things matter</p>
				<p class="text-muted">If you've been to China, you've certainly seen it; a silly mis-translated sign or menu. While these slip-ups are good for a few laughs, they don't help your brand build trust with customers. With CNify, we ensure your brand is communicating that gets customers, not laughs.</p>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">	
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_engagement.jpg" alt="Direct one-to-one marketing approaches in Chinese for customers from China"></h3>
						<span class="label label-primary">Call for your custom quote</span>
			</div>
			<div class="col-xs-12 col-md-10">	
				<h3 class="product">Customer Engagement Campaigns</h3>
				<p class="lead">Create valuable, long-lasting customer relationships.</p>
				<p class="text-muted">For building customer relationships, engagement is the key. CNify is your brand's resource for building and maintaining a customer engagement program. We provide full-service programs to make engagement marketing work for your brand in China. </p>
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>		
		</div>	
</div>
<!-- /.container -->