<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Customer Engagement in China
                <small>Ensure your brand is ready to engage your customers from China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Customer Engagement</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">CNify enables your brand to deliver on its promise to customers from China</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">Is your brand really ready to serve customers from China?</p>
			<p class="text-muted">Often times its the little things that count, signage in your place of business, easy to find information about shipping overseas, relevant directions, etc... These details matter in the grander scheme of customer experience, and CNify can help get your brand up to speed. We offer content solutions that deliver a customer experience that matches your brand seamlessly.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="content-section-b">
		<div class="row">
			<div class="col-lg-12">
				<h3>Creating a brand experience for your customers both online and off</h3>
			</div>
			<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table">
				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_response.jpg" alt="Online response engagement in China"></h3>
					<span class="label label-primary">Starting at $199</span>
					</td>
					<td>
						<h3>On-line response management</h3>
						<p class="lead">Meeting your customers in the digital space.</p>
						<p class="text-muted">Customer relationships are a two-way street. CNify helps your brand become conversant with enquirers online whenever and wherever they emerge. Whether it's a dedicated online channel or general message board participation, CNify can be both the eyes, mouth and ears for your brand online in China.</p>
					</td>
				</tr>	
				
				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_service.jpg" alt="Online dedicated customer service in China"></h3>
					<span class="label label-primary">Call for your custom quote</span>					
					</td>
					<td>
						<h3>Customer Service Channel</h3>
						<p class="lead">We're there when your customers reach out to you.</p>
						<p class="text-muted">For brands with limited or no service staff skilled in oral or written Chinese, CNify offers a dedicated service channel. Whether your brand needs us part of the time all of the time, you can be sure that someone knowledgeable and who speaks the language is ready to serve your Chinese customers.</p>
					</td>
				</tr>	

				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_signage.jpg" alt="Custom Chinese language signage for Chinese customers"></h3>
					<span class="label label-primary">Packages starting at $99</span>					
					</td>
					<td>
						<h3>Custom signage/communications</h3>
						<p class="lead">For the times when those "little" things matter</p>
						<p class="text-muted">If you've been to China, you've certainly seen it; a silly mis-translated sign or menu. While these slip-ups are good a few laughs, they don't help your brand build trust with customers. With CNify, we ensure your brand is communicating a clear message that builds trust in your customer relationships.</p>
					</td>
				</tr>

				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_engagement.jpg" alt="Direct one-to-one marketing approaches in Chinese for customers from China"></h3>
					<span class="label label-primary">Call for your custom quote</span>					
					</td>
					<td>
						<h3>Customer Engagement Campaigns</h3>
						<p class="lead">Create valuable, long-lasting customer relationships.</p>
						<p class="text-muted">For building customer relationships, engagement is the key. CNify is your brand's resource for building and maintaining a customer engagement program. We provide full-service programs to make engagement marketing work for your brand in China. </p>
					</td>
				</tr>					
				</table>
			</div>
			</div>			
		
		</div>
		<!-- /.content-section-a -->
	</div>
	
</div>
<!-- /.container -->
