<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Going Local
                <small>Being authentic in China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Go Local</li>
            </ol>
        </div>

    </div>
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-4">
						<div class="enter-china">
							<img src="img/step_go_local.png" alt="Chinese social media from overseas">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="clearfix"></div>
						<h2 class="section-heading">When in Rome...</h2>
						<p class="lead">Just as the saying goes, what can brands do to create local appeal?</p>
						<p>Being local in China means not just speaking the language, but being enmeshed in the culture of your target market. Understand your consumer is the first step. CNify has the insights to help you navigate and position your brand to sell to your most promising customer base.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Speak the Language...</h2>
						<p class="lead">...but know the culture.</p>
						<p>	Even more important than having correct language translation, is incorporating the immense complexities of Chinese culture. With a long tradition that spans over 5,000 years, this culture very much defines how business is conducted today. A culturally competent brand is one that yields customers. Not heeding to China’s cultural norms presents risks and possibly failure to gain traction. CNify works with brands to orient marketing towards Chinese best cultural practices so your message is clear and meets the demands and expectations of your customers.</p> 
					</div>
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Content that Resonates</h2>
						<p>When speaking to any potential audience, your brand must deliver a message that resonates. This means going beyond translation, and even content localization. CNify creates content and messaging that not only makes sense to your target audience but makes a positive impact towards brand purchase. It’s not enough to just inform. Foreign brands must give a reason to buy in ways that your Chinese consumer target finds palatable.</p> 
					</div>
					<div class="col-md-4 portfolio-item">
						<h2 class="section-heading">Being on the Right Platform</h2>
						<p>Not only does your brand message matter, but where your message can (or can’t) be found is critical. Many forms of Western online media are blocked in China, including Google, Facebook, Twitter, Instagram and others. Even for the few remaining media platforms that are not blocked, there is very little relevance towards the Market. It is also important to remember that even services via these platforms are blocked. A site that uses Google Maps for instance will not have map content available for viewing in China, even if the rest of the site is accessible.</p> 
						<p>The only sure way to gain presence in the Chinese online market is to be available via native social media and internet platforms. With CNify, we get your brand on native social media platforms that your target customers actually use. That means using Sina Weibo, WeChat and a whole host of other domain specific social media platforms and internet sites that cater to your target audience.</p> 
					</div>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- Our Customers -->



</div>
<!-- /.container -->
