<div id="scrollArea" ng-controller="ScrollController">


	<div id="header-wrapper">
		<div class="container">
			<div class="row">
				<header>				
					<h1 class="brand-heading">get chinese customers</h1>
					<h3 class="intro-text">With CNify, the World's largest market is within your grasp</h3>
					<hr class="intro-divider">
					<a ng-click="gotoContent()" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</header>
			</div>
		</div>
	</div>

</div>
<!-- Header Ends Here -->
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a id="Content"></a>
	<div class="content-section-b">
        <div class="container">
				<div class="row">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
						<h1 class="section-heading">Why China?</h1>
				</div>
				<div class="row">				
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_400b_spent.png" alt="400 billion spent by Chinese consumers online">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_550_mobile.png" alt="550 million use mobile phones to access the web">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_140b_tourism.png" alt="140 billion spent overseas by Chinese tourists, world's biggest spenders">
					</div>
					<div class="col-md-3 portfolio-item">
						<img class="img-responsive" src="img/china_usa_destination.png" alt="the us is the only top-10 long-haul destination for Chinese outbound travelers">
					</div>
				</div>
				<div class="row">
				<div class="clearfix"></div>
				<h2 class="section-heading">Because brands not addressing China are quite possibly foregoing their largest organic growth opportunity.</h2>
				<blockquote>
					<div class="media">
						<div class="media-left">
							<img class="media-object" src="/img/jack_ma.jpg" alt="Jack Ma talking about China's middle class">
						</div>
						<div class="media-body">
							<p class="lead text-muted">Today China’s middle class is equal in size to the entire U.S. population and is expected to double within seven years. This is an enormous number of new consumers with plenty of disposable income. How they spend it is important for America’s small businesses.</p>
							<p class="text-primary">Jack Ma, Founder Alibaba - <cite title="Source Title">Wall Street Journal</cite></p>
						</div>
					</div>
				</blockquote>
				<br>
				<br>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	

<!-- LEFT SIDE -->		
    <div class="content-section-a">
        <div class="container">
		<h1 class="section-heading">Extend Your Brand In China</h1>
		<h3>Acquire fans, followers and customers in China</h3>
            <div class="clearfix"></div>
			<div class="col-md-6 col_left">
				<div class="row">
					<h3 class="media-heading">Ways we can help</h3>
					<p>CNify offers in-depth expertise in China</p>					
					<hr class="section-heading-spacer">
				</div>
				<div class="row">
					<div class="col-md-6 img-portfolio">
						<img class="img-responsive img-hover" src="/img/port_1.png" alt="Chinese Language Translation and Localization">
						<h3 class="text-primary">Speak the language</h3> 
						<p>We expertly translate and localize your brand's content for a Chinese audience.</p>
					</div>
					<div class="col-md-6 img-portfolio">
						<img class="img-responsive img-hover" src="/img/port_2.png" alt="Use Chinese social media and internet platforms">
						<h3 class="text-primary">Local channels</h3> 
						<p>Broadcast and connect with customers on native Chinese digital platforms.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 img-portfolio">
						<img class="img-responsive img-hover" src="/img/port_3.png" alt="online and offline promotion campaigns in China">
						<h3 class="text-primary">Active Promotion</h3> 
						<p>Get your brand noticed through online and offline promotion campaigns in China.</p>
					</div>
					<div class="col-md-6 img-portfolio">
						<img class="img-responsive img-hover" src="/img/port_4.png" alt="Chinese customer contact channel">
						<h3 class="text-primary">Engage Customers</h3> 
						<p>Ensure your brand fulfills with active customer contact and engagement points.</p>
					</div>				
				</div>
					<div class="jumbotron jumbo_main">

						<div class="container">
							<div class="col-md-6 img-portfolio">
								<h3 class="text-primary">Services</h3> 
								<p>CNify offers high-quality content marketing in China.</p>
								<p>Learn more about what we can do for your brand.</p>
								<p><a class="btn btn-primary btn-lg" ng-href="#/services" role="button">Learn more</a></p>
							</div>							
							<div class="col-md-6 img-portfolio">
								<div class="row">
									<div class="col-md-6 img-portfolio">
										<h3 class="product"><img class="media-object thumbnail" src="/img/gallery/td_fill_brochure.jpg" alt="Chinese brochure creation"></h3>
										<h3 class="product"><img class="media-object thumbnail" src="/img/gallery/td_fill_wechat.jpg" alt="China WeChat messaging platform"></h3>
									</div>
									<div class="col-md-6 img-portfolio">
										<h3 class="product"><img class="media-object thumbnail" src="/img/gallery/td_fill_socialmedia.jpg" alt="Social media campaigns in China geared for a Chinese target consumer audience"></h3>
										<h3 class="product"><img class="media-object thumbnail" src="/img/gallery/td_fill_weibo.jpg" alt="China Weibo microblogging service"></h3>
									</div>
								</div>
							</div>						
						</div>
					</div>
			</div>				
			<div class="col-md-6 col_right">
				<div class="row">			
					<h3 class="media-heading">How your brand can get started</h3>
					<p>Here's how you can get your brand up and running in China</p>
					<hr class="section-heading-spacer">
				</div>
				<div class="row">	
				<ul class="timeline ti_small">
					<li class="ti_small">
						<div class="timeline-image ti_small">
							<div class="media-middle">
								<icon class="fa fa-edit ti_small" aria-hidden="true"></icon>
							</div>
						</div>
						<div class="timeline-panel ti_small">
							<div class="timeline-heading">
								<h4 class="media-heading">Register</h4>
							</div>
							<div class="timeline-body ti_small">
								<p class="text-muted">Start your journey here</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted ti_small">
						<div class="timeline-image ti_small">
							<div class="media-middle">
								<icon class="fa fa-user-md ti_small" aria-hidden="true"></icon>
							</div>
						</div>
						<div class="timeline-panel ti_small">
							<div class="timeline-heading ti_small">
								<h4 class="media-heading">Consult</h4>
							</div>
							<div class="timeline-body ti_small">
								<p class="text-muted">Let's establish a strategic direction together</p>
							</div>
						</div>
					</li>
					<li class="ti_small">
						<div class="timeline-image ti_small">
							<div class="media-middle">
								<icon class="fa fa-pencil ti_small" aria-hidden="true"></icon>
							</div>
						</div>
						<div class="timeline-panel ti_small">
							<div class="timeline-heading ti_small">
								<h4 class="media-heading">Create</p>
							</div>
							<div class="timeline-body ti_small">
								<p class="text-muted">We'll work with you to create awesome content for a Chinese audience</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted ti_small">
						<div class="timeline-image ti_small">
							<div class="media-middle">
								<icon class="fa fa-cloud-upload ti_small" aria-hidden="true"></icon>
							</div>
						</div>
						<div class="timeline-panel ti_small">
							<div class="timeline-heading ti_small">
								<h4 class="media-heading">Post</h4>
							</div>
							<div class="timeline-body ti_small">
								<p class="text-muted">We'll broadcast to your target audience on native Chinese digital platforms</p>
							</div>
						</div>
					</li>
					<li class="ti_small">
						<div class="timeline-image ti_small">
							<div class="media-middle">
								<icon class="fa fa-magnet ti_small" aria-hidden="true"></icon>
							</div>
						</div>
						<div class="timeline-panel ti_small">
							<div class="timeline-heading ti_small">
								<h4 class="media-heading">Engage</h4>
							</div>
							<div class="timeline-body ti_small">
								<p class="text-muted">We'll help engage your audience and acquire new fans, followers and customers</p>
							</div>
						</div>
					</li>
				
				</ul>
				<div ng-controller="ModalRegisterCtrl">
					<button type="button" class="btn btn-CNify1 btn-lg btn-center" ng-click="open()">Register to get started</button>
				</div>	
				</div>
			</div>	

			<!-- /.container -->
		</div>
		<!-- /.content-section-a -->
	</div>
	
	<div class="content-section-b">
        <div class="container">
				<div class="row">
				<div class="clearfix"></div>
					<h1 class="section-heading">Why CNify?</h1>
					<hr class="section-heading-spacer">
				</div>
				<div class="row">
					<div class="col-md-4">					
						<div class="timeline-image">
							<img class="img-circle img-responsive center" src="img/Home_Why1.png" alt="">
						</div>
						<h3 class="media-heading">We Speak The Language</h3>
						<p class="lead">How your brand addresses its target customers in China matters.</p>
						<p class="text-muted">With CNify, your brand has access to translation, content creation and design resources on both sides of the Pacific. We are seasoned professionals who know your target market and know it well.</p>		
					</div>
					<div class="col-md-4 colcenter">					
						<div class="timeline-image">
							<img class="img-circle img-responsive center" src="img/Home_Why2.png" alt="">
						</div>
						<h3 class="media-heading">On-The-Ground Presence</h3>
						<p class="lead">Having people on the ground in China is critical for your brand's success.</p>
						<p class="text-muted">Your brand needs to be where its customers are. CNify provides the presence in market that brands need to succeed. In China, our dedicated partners are there looking after your customers and best interests.</p>					
					</div>
					<div class="col-md-4">					
						<div class="timeline-image">
							<img class="img-circle img-responsive center" src="img/Home_Why3.png" alt="">
						</div>
						<h3 class="media-heading">We're Easy to Work With</h3>
						<p class="lead">The CNify integrated content portal gives your brand access to China.</p>
						<p class="text-muted">Simply upload your content, such as text, pictures and video, to our to our easy-to-use content portal, and we take care of it from there. Never before has it been easier to access marketing to China.</p>		
					</div>					
				</div>

				<div class="row">
				<div class="clearfix"></div>

				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	

