<div id="scrollArea" ng-controller="ScrollController">


	<div id="header-wrapper">
		<div id="banner">
			<div class="container">
				<div class="row">
					<header>
						<h1 class="brand-heading">get chinese customers</h1>
						<h3 class="intro-text">With CNify, the World's largest market is within your grasp</h3>
						<hr class="intro-divider">
						<a ng-click="gotoContent()" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</header>
				</div>
			</div>
		</div>	
	</div>

</div>
<!-- Header Ends Here -->
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a id="Content"></a>
	<div class="content-section-b">
        <div class="container">
				<div class="row">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
						<h2 class="section-heading">And China is where you want your brand to be</h2>
				</div>
				<div class="row">				
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_400b_spent.png" alt="">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_550_mobile.png" alt="">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_140b_tourism.png" alt="">
					</div>
					<div class="col-md-3 portfolio-item">
						<img class="img-responsive" src="img/china_usa_destination.png" alt="">
					</div>
				</div>
				<div class="row">
				<div class="clearfix"></div>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
    <div class="content-section-a">

        <div class="container">

            <div class="row">
				<div class="establish-in-china">
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">To become established in China, your brand must go beyond Google, Facebook and Twitter</h2>
						<br>
						<p class="lead">These sites are all blocked in China.<br><br>
						That means your brand must find other means to reach Chinese consumers.</p>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<div class="establish-in-china">
							<img class="img-responsive" src="img/ipad.png" alt="">
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-lg-5 col-sm-6">
						<div class="enter-china">
							<img class="img-responsive" src="img/enteringchina.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<hr class="section-heading-spacer">
							<div class="clearfix"></div>
							<h2 class="section-heading">Establishing and building a brand in China doesn't have to be difficult</h2>
							<br>
							<p class="lead">With CNify, you have access to support and tools to make it happen</p>
							<p class="lead">CNify enables access to China by providing:</p>
							<ul>
								<li>Content translation and localization</li>
								<li>Social media posting</li>
								<li>Site hosting</li>
								<li>Online promotion</li>
							</ul>
							<p class="lead">All geared for the Chinese consumer market</p>
					</div>
				</div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Getting Started</h2>
                    <p class="lead">Getting established online in China doesn't have to be expensive. With services starting for as little as $300, your brand can start get started today.</p>
					<p class="lead">Some ideas to get started:</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="hero-feature">
						<div class="thumbnail">
							<img src="img/example_1.jpg" alt="">
							<div class="caption">
								<h3>Start Here: Intro Translation</h3>
								<p>For brands with no prior exposure to China, we offer an easy to get started translated backgrounder sheet designed for a Chinese audience that you can use to distribute to interested customers, partners and media in China.</p>

							</div>
						</div>
					</div>
                </div>
            </div>
			
			<div class="row text-center">

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/weibo_account.jpg" alt="">
						<div class="caption">
							<h3>Weibo</h3>
							<p>Start a Twitter/Facebookk to Weibo campaign. CNify will post your postings in Chinese on Sina Weibo, China's largest micro-blog service.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/wechat_account.jpg" alt="">
						<div class="caption">
							<h3>WeChat</h3>
							<p>WeChat has become the preferred contact Channel for online. Having a WeChat account enables your brand to start talking to potential customers.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/online_video.jpg" alt="">
						<div class="caption">
							<h3>Online Video</h3>
							<p>If you already have video media assets, then CNify can post them online in China. We offer translation, sub-titling as well as voice-over services as well.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/website.jpg" alt="">
						<div class="caption">
							<h3>Web Hosting</h3>
							<p>Hosting a site in China or Asia can improve not only the web experience but your search ranking on Chinese search engines.</p>

						</div>
					</div>
				</div>

			</div>
			<div class="row last-row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ready to start?</h2>
					<p>Click the 'Register' button below to get started. Follow the instructions for setting up an account and starting a project.</p>
					<button type="button" class="btn btn-default btn-lg">
						<a href="https://my.cnify.com/register/">Register</a>
					</button>
					<br>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
					<h2 class="section-heading">Have Questions?</h2>
					<p>We'd love to hear from you. Let us know any questions you may have. We'll be happy to discuss your brand's goals in China.</p>
					<button type="button" class="btn btn-default btn-lg">
						<a href="#/contact">Contact Us</a>
					</button>
                </div>
            </div>
			
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</div>
<!-- /.scroll area -->