<div id="scrollArea" ng-controller="ScrollController">


	<div id="header-wrapper">
		<div class="container">
			<div class="row">
				<header>				
					<h1 class="brand-heading">get chinese customers</h1>
					<h3 class="intro-text">With CNify, the World's largest market is within your grasp</h3>
					<hr class="intro-divider">
					<a ng-click="gotoContent()" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</header>
			</div>
		</div>
	</div>

</div>
<!-- Header Ends Here -->
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a id="Content"></a>
	<div class="content-section-b">
        <div class="container">
				<div class="row">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
						<h1 class="section-heading">Why China?</h1>
				</div>
				<div class="row">				
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_400b_spent.png" alt="400 billion spent by Chinese consumers online">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_550_mobile.png" alt="550 million use mobile phones to access the web">
					</div>
					<div class="col-md-3 portfolio-item rgt-border">
						<img class="img-responsive" src="img/china_140b_tourism.png" alt="140 billion spent overseas by Chinese tourists, world's biggest spenders">
					</div>
					<div class="col-md-3 portfolio-item">
						<img class="img-responsive" src="img/china_usa_destination.png" alt="the us is the only top-10 long-haul destination for Chinese outbound travelers">
					</div>
				</div>
				<div class="row">
				<div class="clearfix"></div>
				<h2 class="section-heading">Brands not currently selling in China are quite possibly foregoing their largest organic growth opportunity.</h2>
				<blockquote>
					<div class="media">
						<div class="media-left">
							<img class="media-object" src="/img/jack_ma.jpg" alt="Jack Ma talking about China's middle class">
						</div>
						<div class="media-body">
							<p class="lead text-muted">Today China’s middle class is equal in size to the entire U.S. population and is expected to double within seven years. This is an enormous number of new consumers with plenty of disposable income. How they spend it is important for America’s small businesses.</p>
							<p class="text-primary">Jack Ma, Founder Alibaba - <cite title="Source Title">Wall Street Journal</cite></p>
						</div>
					</div>
				</blockquote>
				<br>
				<br>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
    <div class="content-section-a">

        <div class="container">

            <div class="row">
				<div class="establish-in-china">
				<h1 class="section-heading">But marketing to China is fraught with challenges</h1>
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">Getting your brand in front of Chinese customers isn't easy</h2>
						<br>
						<p class="lead">For one, most popular Western online platforms are blocked in China.<br><br>
						That means your brand must find other ways to reach Chinese consumers.</p>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<div class="establish-in-china">
							<img class="img-responsive" src="img/ipad.png" alt="">
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
				<h1 class="section-heading">Enable your brand to market effectively in China</h1>
					<div class="col-lg-5 col-sm-6">
						<div class="enter-china">
							<img class="img-responsive" src="img/enteringchina.png" alt="Access the Chinese market online">
						</div>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<hr class="section-heading-spacer">
							<div class="clearfix"></div>
							<h2 class="section-heading">CNify enables your brand to:</h2>
							<div ng-controller="PopoverCtrl">
								<h2 popover="By establishing your brand on digital platforms used in China" popover-trigger="mouseenter" popover-placement="left">Be where your customers are</h2>
								<h2 popover="By creating fluent content that speaks to your target audience" popover-trigger="mouseenter" popover-placement="left">Resonate with your target audience</h2>
								<h2 popover="By orienting your brand with offerings that have traction in the marketplace" popover-trigger="mouseenter" popover-placement="left">Sell what your market will buy</h2>
								<h2 popover="By engaging with customers on your behalf" popover-trigger="mouseenter" popover-placement="left">Create valuable lasting customer relationships</h2>
							</div>
							<br>
					</div>
					<div class="clearfix"></div>
					<h2 class="section-heading text-danger">CNify connects your brand with customers from China on the platforms they use</h2>
				</div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
<!-- LEFT SIDE -->		
    <div class="content-section-a">

        <div class="container">
		<h1 class="section-heading">Building your brand in China</h1>
		<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">From finding your target market and getting established to follow-up campaigns with longtime customers, <br>CNify offers the tools and services brands need to market and sell effectively in China.</p>
<!-- ICON LIST -->	
		<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
				<a href="#/content-creation-localization">
					<div class="media-middle">
						<icon class="fa fa_large fa-pencil" aria-hidden="true"></icon>
					</div>
					<div class="caption">
                        <h3>Create</h3>
							<table class="table">
								<tr><td align="left">
									<h3>Your brand's message</h3>
									<p class="text-muted">Does your brand speak your customers' language?</p>
									<p class="text-muted">With CNify it does! We localize your content for China.</p>
									<h3><span class="label label-info">Create Content</span></h3>									
								</td></tr>								
							</table>
					</div>
				</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
				<a href="#/market-establishment-in-china">
					<div class="media-middle">
						<icon class="fa fa_large fa-magic" aria-hidden="true"></icon>
					</div>
					<div class="caption">
                        <h3>Establish</h3>
							<table class="table">
								<tr><td align="left">
									<h3>Get a footprint into China</h3>
									<p class="text-muted">Put your brand where your customers are.</p>
									<p class="text-muted">CNify establishes your brand on native Chinese platforms.</p>
									<h3><span class="label label-info">Get Established</span></h3>									
								</td></tr>								
							</table>
					</div>
				</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
				<a href="#/impactful-promotion-in-china">					
					<div class="media-middle">
						<icon class="fa fa_large fa-rocket" aria-hidden="true"></icon>
					</div>
                    <div class="caption">
                        <h3>Promote</h3>
							<table class="table">
								<tr><td align="left">	
									<h3>Create an impact in China</h3>								
									<p class="text-muted">Make your brand heard among your target audience.</p>
									<p class="text-muted">CNify has methods to give your brand traction.</p>
									<h3><span class="label label-info">Promote your brand</span></h3>	
								</td></tr>								
							</table>						
                    </div>
				</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
				<a href="#/customer-engagement-in-china">				
					<div class="media-middle">
						<icon class="fa fa_large fa-thumbs-up" aria-hidden="true"></icon>
					</div>
                    <div class="caption">
                        <h3>Engage</h3>
							<table class="table">
								<tr><td align="left">	
									<h3>Deliver your brand promise</h3>		
									<p class="text-muted">Is your brand ready for Chinese customers?</p>									
									<p class="text-muted">CNify has the content solutions your business needs to deliver.</p>

									<h3><span class="label label-info">Become China Ready</span></h3>	
								</td></tr>								
							</table>						
                    </div>
				</a>
                </div>
            </div>
        </div>
			<!-- /.container -->
		</div>
		<!-- /.content-section-a -->
	</div>
	

