<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Impactful Promotion in China
                <small>Campaigns that deliver customers</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Impactful Marketing and Promotion in China</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">CNify is your bridge to marketing and promoting your brand in China</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">On the ground marketing campaigns in China.</p>
			<p class="text-muted">To sell successfully in China, it is critical to have presence over there. Through CNify, your brand has presence on the ground in China to execute online and offline marketing campaigns that bring customers.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
	    <section id="portfolio" class="bg-light-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">Example Campaign Activities</h2>
						<h4 class="section-subheading text-muted">Here are some of the types of campaigns we have experience with:</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/PRNews_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>PR/News Release</h2>
							<p class="text-muted">PR/News release in the Chinese media</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/WeChat_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>WeChat campaign</h2>
							<p class="text-muted">Campaign to promote your brand on WeChat, China's most popular social networking platform</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<img src="img/gallery/Events_th.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h2>Events</h2>
							<p class="text-muted">Hosting of events for public or industry to introduce and promote your brand</p>
						</div>
					</div>
				</div>
			</div>
			<h4 class="section-subheading text-muted">*Samples are shown for illustrative purposes only and do not reflect the endorsement of any particular brand.</h4>

		</section>
	</div>
	
</div>
<!-- /.container -->
