<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Impactful Promotion in China
                <small>Campaigns that deliver customers</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Impactful Marketing and Promotion in China</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_socialmedia.jpg" alt="Social media campaigns in China geared for a Chinese target consumer audience"></h3>
				<span class="label label-primary">Call for your custom quote</span>
			</div>
			<div class="col-xs-12 col-md-10">
				<h3 class="product">Digital Social Media Campaigns</h3>
				<p class="lead">It is simply not enough to only become established.</p>
				<p class="text-muted">Brands must have active social media campaigns in mind when marketing to China. CNify offers a whole host of active social media campaigns that get your brand seen and heard among your target audience. We offer exclusive access to Key-Opinion-Leaders in your field who can help build your brand where it matters most.</p>	
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_prmedia.jpg" alt="Public relations and media for brands marketing in China"></h3>
						<span class="label label-primary">Call for your custom quote</span>
			</div>
			<div class="col-xs-12 col-md-10">					
				<h3 class="product">PR/Media Campaigns</h3>
				<p class="lead">Promote both online and off.</p>
				<p class="text-muted">China's online population is huge. But your marketing and sales process will inevitably involve both online and offline interactions that your brand needs to be ready for. CNify offers access to key media and PR resources to promote and spread the word of your brand both online and offline.</p>
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">			
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_baidu.jpg" alt="China SEO on Baidu for as little as $599"></h3>
						<span class="label label-primary">Starting at $499</span>
			</div>
			<div class="col-xs-12 col-md-10">	
				<h3 class="product">Baidu/SEO</h3>
				<p class="lead">Being found on China's leading search-engine</p>
				<p class="text-muted">Baidu, often referred to as China's Google, is the key search-engine that your brand needs to be found on. CNify offers pay-per-click (PPC) campaigns as well as usage of many organic search features of Baidu to increase your brand's visibility.</p>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">	
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_event.jpg" alt="Classy events in China to showcase your brand"></h3>
						<span class="label label-primary">Call for your custom quote</span>
			</div>
			<div class="col-xs-12 col-md-10">	
				<h3 class="product">Tradeshow/Events</h3>
				<p class="lead">Events to remember your brand by.</p>
				<p class="text-muted">Hosting successful events in China showcasing your brand is an excellent way to increase brand presences, share in-depth information and build customer relationships. Let CNify, and its expert partners on the ground in China handle all the details in ensuring your event in China is a success.</p>
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>		
		</div>	
</div>
<!-- /.container -->
