<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">First Impressions Count
                <small>Start with a great translation</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Introductory Translation</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">Make your initial impression count</h2>
			<p class="lead">With CNify you can address your target audience with content and messages that resonate clearly.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p>When it comes to translation of your brand's communication with your audience, a clear, coherent message is paramount. This is something machine translation, such as Google Translate and other tools, simply cannot achieve. Having a professional translation is not a nice-to-have for the Chinese market, it is a necessity.</p>
			<p>With CNify your content is not only in the hands of professionals fluent in both English and Chinese, but with experts with experience both in China and North America. We understand the intricacies of the language and cultural differences in marketing communication. We have an approach to language translation and content localization that ensures your message gets across and resonates with your target audience.</p>
		</div>
	</div>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some Examples</h2>
                    <h4 class="section-subheading text-muted">Here are some example translations that we can get create for your brand:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/Travel_MtStHelens_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Travel Destination</h2>
                        <p class="text-muted">Travel destination brochure</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/Travel_Hotel_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Hospitality</h2>
                        <p class="text-muted">Hotel description</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/Food_Label_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Food Label</h2>
                        <p class="text-muted">Chinese food label for export</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/SocialMedia_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Twitter</h2>
                        <p class="text-muted">Ongoing translation of Twitter feed to Chinese social media</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/Product_Catalog_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Product Catalog</h2>
                        <p class="text-muted">Share product details</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
					<img src="img/gallery/Travel_Destination_th.jpg" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h2>Travel Destination</h2>
                        <p class="text-muted">Resort introduction brochure</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<h4 class="section-subheading text-muted">*Samples are shown for illustrative purposes only and do not reflect the endorsement of any particular brand.</h4>


</div>
<!-- /.container -->
