<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Market Presence
                <small>Your footprint in China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Market Presence</li>
            </ol>
        </div>

    </div>
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-4">
						<div class="enter-china">
							<img src="img/step_footprint_china.png" alt="Chinese social media from overseas">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="clearfix"></div>
						<h2 class="section-heading">Being there even when you aren’t</h2>
						<p class="lead">With CNify you have boots on the ground in China</p>
						<p>For brands without the resources to manage and operate a full-fledged China office, CNify offers the full breadth of managing your China market presence. From online digital marketing to offline events, sales fulfillment, service and everything in between, we tailor our services to your brand’s execution strategy.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Online Presence</h2>
						<p>Not all brands need an office in China. Having a full fledged online presence can make an important difference though. Addressing your target consumer by being on the right platforms with the right information and available to interact is what CNify specializes in. With in-market/in-language knowledgeable staff, we represent brands, destinations, businesses and organizations as their Chinese presence online. We handle all aspects of online presence including setting and managing accounts, creating, translating and posting content and engaging with your target audience online.</p> 
					</div>
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Fulfillment</h2>
						<p>For brands interested in selling directly to China, CNify offers fulfillment and export on demand services. Instead of taking a huge capital investment and associated risk of selling large quantities, CNify can fulfill consumer demand at the individual and group buying level. Group buying is a recent phenomena online, and groups of Chinese consumers specifically search out foreign sourced products.  Your brand can become part of these group buying networks and CNify offers the necessary fulfillment infrastructure to ensure your products arrive safely to consumers in China.</p> 
					</div>
					<div class="col-md-4 portfolio-item">
						<h2 class="section-heading">Getting on the Map</h2>
						<p>For destinations looking to get on the map of Chinese travelers, having both online and offline presence in China is a critical necessity. CNify helps increase the visibility of destinations outside of China to Chinese overseas travelers. CNify develops strategies for destinations get on the itineraries of Chinese travelers by assisting promoting efforts of:</p>
						<ul>
							<li>Destination Marketing Organizations</li>
							<li>Hotels/Motels/Resorts and other hospitality destinations</li>
							<li>Attractions such as museums, theme parks and major tourist sites</li>
							<li>Tour guides</li>
							<li>Experiential travel- Hunting and fishing guides, active sports, life-long learning programs</li>
						</ul>
					</div>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- Our Customers -->



</div>
<!-- /.container -->
