<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Establish your brand in China
                <small>Services to get your brand established from the ground up in China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Getting Established</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
		<div class="row">
			
			<div class="col-xs-12 col-md-2">
				<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_webhost.jpg" alt="Website or webpage in Chinese"></h3>
				<span class="label label-primary">Webpages starting at $499</span>
			</div>
			<div class="col-xs-12 col-md-10">
				<h3 class="product">In-Region/In-Country Webhosting</h3>
				<p class="lead">Create a webpage or website for Chinese audiences</p>
				<p class="text-muted">CNify can create and host your brand's web presence geared for a Chinese audience. </p>		
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_weibo.jpg" alt="China Weibo microblogging service"></h3>
						<span class="label label-primary">Starting at $699/year</span>
			</div>
			<div class="col-xs-12 col-md-10">					
						<h3 class="product">Weibo</h3>
						<p class="lead">China's leading micro-blogging service</p>
						<p class="text-muted">Weibo, best described as a "micro-blog" is a popular platform that is flexible for hosting content such as text, images and video. CNify can get your brand setup on Weibo so that your brand has yet another foothold into China.</p>			
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 col-md-2">			
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_wechat.jpg" alt="China WeChat messaging platform"></h3>
						<span class="label label-primary">Starting at $1,299/year</span>
			</div>
			<div class="col-xs-12 col-md-10">	
						<h3 class="product">WeChat</h3>
						<p class="lead">A communications platform with powerful potential</p>
						<p class="text-muted">WeChat is a rising communications platform used by over 500 Million people Worldwide. The importance of WeChat for your brand's presence cannot be overemphasized. With a WeChat account, your brand has both a marketing as well as a service delivery channel open to your target market.</p>	
			</div>
			
			<div class="col-xs-12">
				<hr>
			</div>
			
			<div class="col-xs-12 col-md-2">	
						<h3 class="product"><img class="media-object thumbnail thmb-hghlt thmb-featured" src="/img/gallery/td_fill_video.jpg" alt="Video and image platforms in China"></h3>
						<span class="label label-primary">Starting at $299</span>
			</div>
			<div class="col-xs-12 col-md-10">	
						<h3 class="product">Video and other Media</h3>
						<p class="lead">Sometimes words are not enough</p>
						<p class="text-muted">For brands with extensive video and imagery, there are a whole host of video and image platforms anomalous to popular Western sites such as Youtube, Vimeo, Flikr and the like. CNify can create your brand's presence on platforms that match your content and target audience.</p>	
			</div>	
			<div class="col-xs-12">
				<hr>
			</div>		
		</div>	

</div>
<!-- /.container -->
