<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Establish your brand in China
                <small>CNify builds brands from the ground up in China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Getting Established</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">Create your foothold into China</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">Use CNify's services to get your brand established online in China</p>
			<p class="text-muted">In order for your brand to get established, customers have to be able to find you. CNify ensures our clients can be found by establishing presence on native internet and social media platforms used by your target audience in China.
			<br></p>
			<br>
			<br>
		</div>
	</div>
    <div class="content-section-b">
		<div class="row">
			<div class="col-lg-12">
				<h3>Effective ways to establish your brand in China today</h3>
			</div>
			<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table">
				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_webhost.jpg" alt="Webhosting in China or in Asia"></h3>
					<span class="label label-primary">Starting at $1,299</span>
					</td>
					<td>
						<h3>In-Region/In-Country Webhosting</h3>
						<p class="lead">Your site in China.</p>
						<p class="text-muted">You may or may not be aware of the difficulties establishing a website in China. CNify has solutions both for firms established in China as well as those based outside of China to build a web presence that Chinese can access from within China.</p>
					</td>
				</tr>	
				
				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_weibo.jpg" alt="China Weibo microblogging service"></h3>
					<span class="label label-primary">Starting at $499/year</span>					
					</td>
					<td>
						<h3>Weibo</h3>
						<p class="lead">China's leading micro-blogging service.</p>
						<p class="text-muted">Weibo, best described as a "micro-blog" is a popular platform that is flexible for hosting content such as text, images and video. CNify can get your brand setup on Weibo so that your brand has yet another foothold into China.</p>
					</td>
				</tr>	

				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_wechat.jpg" alt="China WeChat messaging platform"></h3>
					<span class="label label-primary">Starting at $1,299/year</span>					
					</td>
					<td>
						<h3>WeChat</h3>
						<p class="lead">A communications platform with powerful potential.</p>
						<p class="text-muted">WeChat is a rising communications platform used by over 500 Million people Worldwide. The importance of WeChat for your brand's presence cannot be overemphasized. With a WeChat account, your brand has both a marketing as well as a service delivery channel open to your target market.</p>
					</td>
				</tr>

				<tr>
					<td><h3><img class="media-object" src="/img/gallery/td_fill_video.jpg" alt="Video and image platforms in China"></h3>
					<span class="label label-primary">Starting at $299</span>					
					</td>
					<td>
						<h3>Video and other Media</h3>
						<p class="lead">Sometimes words are not enough</p>
						<p class="text-muted">For brands with extensive video and imagery, there are a whole host of video and image platforms anomalous to popular Western sites such as Youtube, Vimeo, Flikr and the like. CNify can create your brand's presence on platforms that match your content and target audience.</p>
					</td>
				</tr>					
				</table>
			</div>			
			</div>					
		</div>
		<!-- /.content-section-a -->
	</div>
</div>
<!-- /.container -->
