<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Partnership
                <small>Having the right partners in China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Partnership</li>
            </ol>
        </div>

    </div>
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-4">
						<div class="enter-china">
							<img src="img/step_partnership_china.png" alt="Finding the right partner in China">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="clearfix"></div>
						<h2 class="section-heading">It’s not what you know…</h2>
						<p class="lead">…but who.</p>
						<p>In China, your market success will depend on who you work with on the ground over there. CNify creates and facilitates active partnerships between Chinese firms and foreign firms wishing to address the Chinese market.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Partnership or WFOE?</h2>
						<p>In considering establishing a presence in China, many businesses are faced with the decision of establishing a partnership with an already established Chinese entity, or going alone as a Wholly-Foreign-Owned-Enterprise (WFOE). Both methods have their pro’s and con’s.</p> 
						<p>As a WFOE, you retain full control of your business and brand’s activities in China. To achieve this status, you must become registered and dedicate a sometimes substantial capital investment to the enterprise. In almost all cases you will need the expertise of legal professionals who are well-versed in Chinese business law to properly advise you of your best options.</p> 
						<p>As a partnership, you trade control for in-market domain knowledge and expertise. Partnering with a Chinese entity can be a good experience if there’s sufficient amount of trust built between partners. This rarely, if ever, happens over night. It may take several visits in person and a framework to build a working relationship that is sufficient to support a working partnership.</p> 
						<p>CNify can assist both as your in-country partner as well as creating in-country partnerships and WFOEs. Our staff has experience and contacts to find the right route for your business to make significant in-roads into China.</p> 
					</div>
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Strong Relationships</h2>
						<p>There are many barriers to establishing successful partnerships in China. CNify helps businesses overcome these barriers through strong expertise in partnership facilitation. We vet potential partners on behalf of our clients to find the most appropriate partnership opportunity. We kick things off on the right foot by establishing initial contact and working out a cooperation framework that works to the best mutual interests of both parties. Over the long-term we help establish constructive dialogue that both parties can continually build a successful and sustainable business relationship. In the end, it is about the success of our clients in China.</p> 
					</div>
					<div class="col-md-4 portfolio-item">
						<h2 class="section-heading">Business Culture</h2>
						<p>Perhaps there is no area more tricky than navigating the intricacies of Chinese culture. Just as it is critical that brands understand and adapt to Chinese consumer culture, foreign businesses need to adapt to Chinese cultural business practices. By facilitating the many partnerships our clients engage in, we advise how best to proceed so that our clients. We ensure that the correct objectives are prioritized and that cooperation between partners is constructive. By having on-the-ground resources, you never feel half a world away from the Chinese market. We have you covered in China.</p>
					</div>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- Our Customers -->



</div>
<!-- /.container -->
