<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Selling to China
                <small>Get to know your market</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Selling to China</li>
            </ol>
        </div>

    </div>
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-4">
						<div class="enter-china">
							<img src="img/step_sell_to_china.png" alt="Selling to Chinese consumers">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="clearfix"></div>
						<h2 class="section-heading">Creating strong brand appeal in China</h2>
						<p class="lead">With CNify, you can now effectively tap your brand's full potential in China.</p>
						<div class="well">
						<p>Set aside the obvious enormity of China for a moment. Why sell to this market? It turns out that Chinese consumers have a lot more in common with domestic consumers than you may have previously believed. There is a strong desire for well-made, high quality, wholesome products and demand for services and experiences that just can't be found within China. The globalization of the Chinese consumer market is happening now, and opportunities are ripe for foreign brands, big and small, to have a profitable role in this market. </p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Attracting Chinese Travelers</h2>
						<p>In just over 5 years, Chinese overseas tourism has doubled to over 100 Million outbound travelers in 2014. The Chinese travel market has undergone a rapid transformation from being a largely domestic travel market to having a wide range of interests in destinations overseas.</p>
						<p class="lead">How to attract Chinese travelers who will spend on average between $6,000 and $9,000 per per trip? </p> 
						<p>It starts with getting on the map of the Chinese middle-class consumer. With incomes that enable the Chinese to spend over $140 Billion overseas in 2014, destinations that speak to travelers starting in their country, in their language, in ways that resonate and fit their needs will be most likely to get on the itinerary of Chinese travelers.</p>
					</div>
					<div class="col-md-4 portfolio-item rgt-border">
						<h2 class="section-heading">Selling in China</h2>
						<p>In a study published by Boston Consulting Group, 60% of Chinese consumers surveyed said they were willing to pay more for products ‘Made in the USA.’ This foreign price premium can be used to profitably leverage your brand’s strength to a growing consumer market. Products that have been noted in particular demand include:</p> 
						<ul>
							<li>Foodstuffs  - Especially natural, organic, health-focus</li>
							<li>Health/Beauty – Skincare, makeup, haircare, nutritional supplements</li>
							<li>Baby – Infant formula, baby care products, diapers</li>
							<li>Household – Decorative and household fashions</li>
							<li>Fashion – Luxury and custom fashion lines</li>
							<li>Educational – Learning toys, creative learning, test-prep</li>
						</ul>
					</div>
					<div class="col-md-4 portfolio-item">
						<h2 class="section-heading">How CNify Helps</h2>
						<p>CNify offers all services necessary to make your brand successful in the China market. The activities we do for our clients include:</p> 
						<ul>
							<li>Establish and promote social media accounts</li>
							<li>Post and promote video</li>
							<li>Translate web content, catalogs, brochures, marketing materials, etc...</li>
							<li>In-country/In-region web hosting</li>
							<li>Operate in-language/in-market customer contact channel</li>
							<li>Operate sales platforms in China</li>
							<li>Attend tradeshows</li>
							<li>Create custom events</li>
							<li>Public relations and media promotion</li>
							<li>Partner search and facilitate partnership opportunities</li>
						</ul>
					</div>
				</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- Our Customers -->



</div>
<!-- /.container -->
