<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sell to China
                <small>Selling to the World's largest online marketplace</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Selling your products in China </li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">Want to sell in China?</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">CNify helps overseas brands successfully sell their products in China.</p>
			<p class="text-muted">While China is the World's largest online consumer marketplace, selling to China from overseas is a whole other matter. CNify provides the means to test your products, develop a strategy and act upon it to successfully sell to customers in China.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/sc_cover1.jpg" alt="Getting on the map of the Chinese visitor">
						<div class="caption">
							<h3>Test the Waters</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Initial Content - </h3>
									<p>Unformatted 1 Page introduction of your company, products, background, etc... that can be used for partner introductions, distributors and others in China who may want to do business with you.</p>
								</td></tr>
								<tr><td>
									<h3>Brochure - </h3>
									<p>Formatted printable/distributable brochure featuring your company and products.</p> 
								</td></tr>
								<tr><td>
									<h3>Weibo Page - </h3>
									<p>Create a placeholder page on Weibo, China's most popular micro-blogging platform.</p> 
								</td></tr>
								<tr><td>
									<h3>Webpage Translation - </h3>
									<p>Add a Chinese-language information page to your current website.</p> 
								</td></tr>
								<tr><td>
									<h3>Product Catalog - </h3>
									<p>Create content descriptions localized for a Chinese audience.</p> 
								</td></tr>
								<tr><td>
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>
								</td></tr>								
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/sc_cover2.jpg" alt="Getting noticed by Chinese visitor">
						<div class="caption">
						<h3>Get Setup</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Website Creation - </h3>
									<p>In-Region/In-Language hosted website with in-depth content and media</p>
								</td></tr>
								<tr><td>
									<h3>Baidu SEO - </h3>
									<p>Get listed on Baidu, China's largest search engine.</p> 
								</td></tr>
								<tr><td>
									<h3>WeChat Channel - </h3>
									<p>Create a brand channel on WeChat, China's most influential social network.</p> 
								</td></tr>
								<tr><td>
									<h3>Youku Channel - </h3>
									<p>Enable access to your online video media with Youku, China's Youtube.</p> 
								</td></tr>
								<tr><td>	
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>								
								</td></tr>								
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/sc_cover3.jpg" alt="Getting on itineraries of the Chinese visitor">
						<div class="caption">
						<h3>Market and Sell</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Distributorship - </h3>
									<p>Search and screen for the right distribution partner in China.</p>
								</td></tr>
								<tr><td>
									<h3>Video content creation/translation/dubbing - </h3>
									<p>Transform your media assets to be localized to a Chinese audience.</p> 
								</td></tr>
								<tr><td>
									<h3>Events - </h3>
									<p>Host customized events for industry or general public featuring your products.</p> 
								</td></tr>
								<tr><td>
									<h3>PR Campaign - </h3>
									<p>A well designed campaign to utilized multiple media channels to broadcast your story.</p> 
								</td></tr>
								<tr><td>
									<h3>Tradeshow Representation - </h3>
									<p>Represent your products on-site at tradeshows in China with knowledgeable Chinese/English speaking personnel.</p> 
								</td></tr>
								<tr><td>
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>									
								</td></tr>									
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
        </div>
    </section>
	</div>
</div>
<!-- /.container -->
