	<div class="container">
	    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">CNify Services
                <small>  the tools and services you need to connect with China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
	<h1 class="section-heading">Services to grow your brand in China</h1>
	<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<p class="lead">From initial content development to follow-up campaigns with longtime customers, 
				<br>CNify offers the tools and services brands need for effective marketing in China.</p>
<!-- ICON LIST -->	
	<div class="row text-center">

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
			<a href="#/content-creation-localization">
				<div class="media-middle">
					<icon class="fa fa_large fa-pencil" aria-hidden="true"></icon>
				</div>
				<div class="caption">
					<h3>Create Awesome Content</h3>
					<p class="text-primary">Content that makes your brand message resonate.</p>
					<div class="list-group">
						<li class="list-group-item">Translation & Localization</li>
						<li class="list-group-item">Brochure Creation</li>
						<li class="list-group-item">Catalog Translation</li>
						<li class="list-group-item">Company Introduction</li>						
					</div>
				</div>
				</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
			<a href="#/market-establishment-in-china">
				<div class="media-middle">
					<icon class="fa fa_large fa-magic" aria-hidden="true"></icon>
				</div>
				<div class="caption">
					<h3>Establish your Presence</h3>
					<p class="text-primary">Be found on native Chinese digital platforms.</p>
					<div class="list-group">
						<li class="list-group-item">Webpage/Website Creation</li>
						<li class="list-group-item">Weibo</li>
						<li class="list-group-item">WeChat</li>
						<li class="list-group-item">Video and other Media</li>						
					</div>
				</div>
			</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
			<a href="#/impactful-promotion-in-china">					
				<div class="media-middle">
					<icon class="fa fa_large fa-rocket" aria-hidden="true"></icon>
				</div>
				<div class="caption">
					<h3>Promote your Brand</h3>
					<p class="text-primary">Campaigns to target your exact market.</p>
					<div class="list-group">
						<li class="list-group-item">Social Media Campaigns</li>
						<li class="list-group-item">PR/Media Campaigns</li>
						<li class="list-group-item">Baidu/SEO</li>
						<li class="list-group-item">Tradeshow/Events</li>						
					</div>					
				</div>
			</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
			<a href="#/customer-engagement-in-china">				
				<div class="media-middle">
					<icon class="fa fa_large fa-thumbs-up" aria-hidden="true"></icon>
				</div>
				<div class="caption">
					<h3>Engage your Audience</h3>
					<p class="text-primary">Engage when and where your customers are.</p>
					<div class="list-group">
						<li class="list-group-item">Online response management</li>
						<li class="list-group-item">Customer Service Channel</li>
						<li class="list-group-item">Onsite Language Solutions</li>
						<li class="list-group-item">Engagement Campaigns</li>						
					</div>							
				</div>
			</a>
			</div>
		</div>
	</div>
		<!-- /.container -->
	</div>



