<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Travel and Destination
                <small>Getting your destination on the map of visitors from China</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Travel and Destination</li>
            </ol>
        </div>

    </div>
	
<!-- Portfolio Grid Section -->
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h2 class="section-heading">Not just getting on the map...</h2>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading"></h2>
			<p class="lead">...but getting on itineraries</p>
			<p class="text-muted">To successfully attract Chinese visitors to your destination, you not only need to be found, but communicate all that matters about your brand.
			<br>CNify helps Travel and Destination Marketers attract visitors through online and offline strategies that resonate.</p>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/td_cover1.jpg" alt="Getting on the map of the Chinese visitor">
						<div class="caption">
							<h3>Get on the map</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Initial Content - </h3>
									<p>Unformatted 1 Page introduction of your destination, attraction, product, etc...</p>
								</td></tr>
								<tr><td>
									<h3>Brochure - </h3>
									<p>Formatted printable/distributable brochure.</p> 
								</td></tr>
								<tr><td>
									<h3>Weibo Page - </h3>
									<p>Create a placeholder page on Weibo, China's most popular micro-blogging platform.</p> 
								</td></tr>
								<tr><td>
									<h3>Webpage Translation - </h3>
									<p>Add a Chinese-language information page to your current website.</p> 
								</td></tr>
								<tr><td>
									<h3>Itinerary Creation/Translation - </h3>
									<p>Create actionable itineraries that bring in visitors.</p> 
								</td></tr>
								<tr><td>
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>									
								</td></tr>								
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/td_cover2.jpg" alt="Getting noticed by Chinese visitor">
						<div class="caption">
						<h3>Get Found</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Website Creation - </h3>
									<p>In-Region/In-Language hosted website with in-depth content and media</p>
								</td></tr>
								<tr><td>
									<h3>Baidu SEO - </h3>
									<p>Get listed on Baidu, China's largest search engine.</p> 
								</td></tr>
								<tr><td>
									<h3>WeChat Channel - </h3>
									<p>Create a brand channel on WeChat, China's most influential social network.</p> 
								</td></tr>
								<tr><td>
									<h3>Youku Channel - </h3>
									<p>Enable access to your online video media with Youku, China's Youtube.</p> 
								</td></tr>
								<tr><td>
									<h3>Sales Channel Listing - </h3>
									<p>Get your travel product listed on popular Chinese OTA's and travel apps.</p> 
								</td></tr>
								<tr><td>
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>									
								</td></tr>								
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="img/td_cover3.jpg" alt="Getting on itineraries of the Chinese visitor">
						<div class="caption">
						<h3>Get Promoted</h3>
							<div class="table-responsive">
								<table class="table">
								<tr><td>
									<h3>Detailed Articles/Write-ups - </h3>
									<p>Create in-depth content featuring your travel products and destinations localized to fit a Chinese audience.</p>
								</td></tr>
								<tr><td>
									<h3>Blogger Writeup - </h3>
									<p>Promote your travel product or destination with a key opinion leader who holds a following.</p> 
								</td></tr>
								<tr><td>
									<h3>Video content creation/translation/dubbing - </h3>
									<p>Transform your media assets to be localized to a Chinese audience.</p> 
								</td></tr>
								<tr><td>
									<h3>Events - </h3>
									<p>Host customized events for industry or general public featuring your destination or travel product.</p> 
								</td></tr>
								<tr><td>
									<h3>PR Campaign - </h3>
									<p>A well designed campaign to utilized multiple media channels to broadcast your story.</p> 
								</td></tr>
								<tr><td>
									<h3>Tradeshow Representation - </h3>
									<p>Represent your travel product or destination on-site at tradeshows in China with knowledgeable Chinese/English speaking personnel.</p> 
								</td></tr>
								<tr><td>
									<h3><a href="#/contact"><span class="label label-info">Contact us for more info</span></a></h3>									
								</td></tr>									
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
        </div>
    </section>
	</div>
</div>
<!-- /.container -->
