<div id="scrollArea" ng-controller="ScrollController">
	<header class="intro-travel">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
						<div class="intro-box">
							<h1 class="brand-heading">attract more chinese visitors</h1>
							<p class="intro-text">Get more happy faces from the World's largest outbound travel market</p>
							<hr class="intro-divider">
							<a ng-click="gotoContent()" class="btn btn-circle page-scroll">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a id="Content"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
				<div class="establish-in-china">
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">To get on the map of these travellers, your brand must go beyond Google, Facebook and Twitter</h2>
						<br>
						<p class="lead">These sites are all blocked in China.<br><br>
						That means your brand or destination must find other means to reach Chinese travellers.</p>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<div class="establish-in-china">
							<img class="img-responsive" src="img/ipad.png" alt="">
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	<div class="content-section-b">

        <div class="container">
				<div class="row">
					<div class="col-lg-5 col-sm-6">
						<div class="enter-china">
							<img class="img-responsive" src="img/enteringchina.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<hr class="section-heading-spacer">
							<div class="clearfix"></div>
							<h2 class="section-heading">Establishing and building a destination brand in China doesn't have to be difficult</h2>
							<br>
							<p class="lead">With CNify, you have access to support and tools to make it happen</p>
							<p class="lead">CNify enables access to China by providing:</p>
							<ul>
								<li>Content translation and localization</li>
								<li>Social media posting</li>
								<li>Site hosting</li>
								<li>Online promotion</li>
							</ul>
							<p class="lead">All geared for the Chinese consumer market</p>
					</div>
				</div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
			<div class="row">
			    <div class="col-lg-12">
				    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
						<h2 class="section-heading">CNify offers the tools and services you need to build your destination brand's digital presence</h2>
						<p class="lead">Through our easy to use online portal at <a target="_blank" href="https://my.cnify.com/register">my.cnify.com</a>, you have access to establishing and building your destination brand's digital presence in China.</p>
						<br>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/register.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Register</h4>
                                    <p class="lead">Start your journey here</p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registration is easy. Once logged in you can start your own marketing campaign. Choose from supplied templates or create your own custom project.</p>
									<br>
									<p class="lead">Not sure where to start? <br>
									<p class="text-muted">We can even guide you every step of the way.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/startproject.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Submit your Content</h4>
                                    <p class="lead">Easy upload, transmit to China</p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Share with us your marketing materials and media such as written content, images and video. Upload is quick and easy with our media portal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/post.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Translate and Post</h4>
                                    <p class="lead">We take it from here</p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Native translation and localization. CNify translates, localizes and broadcasts your media in China via your brand's own online media channels.</p>
									<p class="text-muted">We handle the all the details of channel creation, media management and communications in China so you can focus on building your brand.</p>
								</div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/engage.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Engage</h4>
                                    <p class="lead">Let us be your brand's contact channel</p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Let CNify manage your brand's customer contact in China. When potential customers call, you can be sure they receive support in their native language from knowledgeable customer support professionals.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
			</div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Getting Started</h2>
                    <p class="lead">Getting established online in China doesn't have to be expensive. With services starting for as little as $300, your brand can start get started today.</p>
					<p class="lead">Some ideas to get started:</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="hero-feature">
						<div class="thumbnail">
							<img src="img/example_1.jpg" alt="">
							<div class="caption">
								<h3>Start Here: Intro Translation</h3>
								<p>For brands with no prior exposure to China, we offer an easy to get started translated backgrounder sheet designed for a Chinese audience that you can use to distribute to interested customers, partners and media in China.</p>

							</div>
						</div>
					</div>
                </div>
            </div>
			
			<div class="row text-center">

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/weibo_account.jpg" alt="">
						<div class="caption">
							<h3>Weibo</h3>
							<p>Start a Twitter/Facebookk to Weibo campaign. CNify will post your postings in Chinese on Sina Weibo, China's largest micro-blog service.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/wechat_account.jpg" alt="">
						<div class="caption">
							<h3>WeChat</h3>
							<p>WeChat has become the preferred contact Channel for online. Having a WeChat account enables your brand to start talking to potential customers.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/online_video.jpg" alt="">
						<div class="caption">
							<h3>Online Video</h3>
							<p>If you already have video media assets, then CNify can post them online in China. We offer translation, sub-titling as well as voice-over services as well.</p>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 hero-feature">
					<div class="thumbnail">
						<img src="img/website.jpg" alt="">
						<div class="caption">
							<h3>Web Hosting</h3>
							<p>Hosting a site in China or Asia can improve not only the web experience but your search ranking on Chinese search engines.</p>

						</div>
					</div>
				</div>

			</div>
			<div class="row last-row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ready to start?</h2>
					<p>Click the 'Register' button below to get started. Follow the instructions for setting up an account and starting a project.</p>
					<button type="button" class="btn btn-default btn-lg">
						<a href="https://my.cnify.com/register/">Register</a>
					</button>
					<br>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
					<h2 class="section-heading">Have Questions?</h2>
					<p>We'd love to hear from you. Let us know any questions you may have. We'll be happy to discuss your brand's goals in China.</p>
					<button type="button" class="btn btn-default btn-lg">
						<a href="#/contact">Contact Us</a>
					</button>
                </div>
            </div>
			
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</div>
<!-- /.scroll area -->