 <div class="container">
	<div class="row last-row">
		<div class="col-lg-5 col-sm-6">
			<hr class="section-heading-spacer">
			<div class="clearfix"></div>
			<h2 class="section-heading">Ready to start?</h2>
				<p>Click the 'Register/Login' button below to get started. Follow the instructions for setting up an account and starting a project.</p>
			<div ng-controller="ModalRegisterCtrl">
				<button type="button" class="btn btn-default btn-lg" ng-click="open()">Register/Login</button>
			</div>
			<br>
		</div>
		<div class="col-lg-5 col-lg-offset-2 col-sm-6">
			<hr class="section-heading-spacer">
			<div class="clearfix"></div>
			<h2 class="section-heading">Not sure where to start?</h2>
			<p class="text-muted">Sign-up to receive relevant direct-to-China marketing ideas delivered straight to your inbox</p>
			<div ng-controller="ModalSignupCtrl">
				<button type="button" class="btn btn-default btn-lg" ng-click="open()">Sign-Up</button>
			</div>
		</div>
	</div>
</div>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a ng-href="#/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
						<li>
                            <a ng-href="#/CNify-process">Working with CNify</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a ng-href="#/about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a ng-href="#/contact">Contact</a>
                        </li>
                    </ul>
					<div class="login">
						<div ng-controller="ModalRegisterCtrl"><button class="btn btn-CNify1" ng-click="open()">Login/Register</button></div>
					</div>
                    <p class="copyright text-muted small">Copyright &copy; CNify 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>