<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
						<li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#china">Why China?</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><div ng-controller="ModalRegisterCtrl"><button class="btn btn-lg" ng-click="open()">Login/Register</button></div></li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; CNify 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>